node_modules/
**/node_modules/

/dist/
/frontend/dist/
/backend/dist/
/build/

.vite/

.env
.env.*.local
.env.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

.DS_Store
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

coverage/
.cache/

*.tgz

*.sqlite

/frontend/dist/

pids/
*.pid
*.seed

**/.env

/backend/.env
/frontend/.env

